<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/dirt.png"/>
        <span id="welcomeHeader">Unknown Network へようこそ</span>
        <span id="welcomeDescription">Unknown Networkは、プレイヤーの自由を追求した生活鯖やミニゲームといったサーバーを持っています。我々は、マインクラフトサーバー運営における常識を覆し、これまでとは全く違う、よりユーザーフレンドリーなマインクラフトサーバーを作ることを目的としています。プレイヤーの方々の意見は積極的に取り入れられ、開発が迅速に行われます。</span>
        <br>
        <span id="welcomeDescCTA">そんな自由なサーバーに、数クリックであなたも参加できます。</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                続ける
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine {
                                fill: none;
                                stroke: #FFF;
                                stroke-width: 2px;
                                transition: 0.25s ease;
                            }</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>